<div fxLayout="row" fxLayoutAlign="center">
    <div fxLayout="column" fxFlex="900px">
        <form class="mt-60" #clientsFrm="ngForm" (ngSubmit)="saveClient()">
          <mat-card appearance="outlined">
            <mat-card-header>
                <mat-card-title>Personal Data</mat-card-title>
            </mat-card-header>

            <mat-card-content class="mt-20">
                  <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
                    <mat-form-field class="full-width">
                        <mat-label>Name: *</mat-label>
                        <input type="text" placeholder="Enter your name" matInput
                            [(ngModel)]="client.name" name="name"/>
                    </mat-form-field>
                  </div>
                  
                  <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
                    <div fxLayout="column" fxFlex="800px">
                        <mat-form-field class="full-width">
                            <mat-label>Email: *</mat-label>
                            <input type="email" placeholder="Enter your email" matInput
                                [(ngModel)]="client.email" name="email"/>
                        </mat-form-field>
                    </div>
                  </div>

                  <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
                    <div fxLayout="column" fxFlex="400px">
                        <mat-form-field class="full-width">
                            <mat-label>CPF: *</mat-label>
                            <input type="text" placeholder="Enter your CPF" matInput
                                [(ngModel)]="client.cpf" name="cpf"/>
                        </mat-form-field>
                    </div>
                  </div>

                  <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
                    <div fxLayout="column" fxFlex="400px">
                        <mat-form-field class="full-width">
                            <mat-label>Birthfday Date: *</mat-label>
                            <input type="date" placeholder="Enter your birthday date" matInput
                                [(ngModel)]="client.birthdayDate" name="birthdayDate"/>
                        </mat-form-field>
                    </div>
                  </div>
            </mat-card-content>

            <mat-card-actions>
            
                <button type="submit" mat-flat-button color="primary">
                    <mat-icon fontIcon="save"></mat-icon>
                    Save
                </button>

                <button mat-flat-button color="primary">
                    <mat-icon fontIcon="refresh"></mat-icon>
                    Update
                </button>

                <button mat-flat-button color="accent">
                    <mat-icon fontIcon="backspace"></mat-icon>
                    Clear
                </button>
            </mat-card-actions>
          </mat-card>  
        </form>
    </div>
</div>